body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: deepskyblue;
    color: white;
}

.container-fluid{
    padding: 1% 12% 7%;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight:100;
    color: white;
}

/* Download Buttons */

.download-btn{
    margin: 5% 3% 5% 0;
    
}

/* Title Image */

.title-image{
    border-radius: 100%;
    width: 45%;
    /*transform: rotate(25deg);*/
    position: absolute;
    right: 5%;
}

/* features section  */

#features{
    padding: 7% 15%;
    background-color: aliceblue;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
    
}

#features p{
    font-family:cursive;
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial section  */

#testimonials{

    text-align: center;
    background-color: deepskyblue;
    color: white;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: aliceblue;
    text-align: center;
    /* padding-bottom: 3%; */
}

.press-logo{
    width: 12%;
    margin: 20px 20px 50px;
}

/* pricing section  */

#pricing{
    background-color: deepskyblue;
    padding: 100px;
    text-align: center;
}

.pricing-h2{
    color: white;
}

.btn-pricing{
    padding-right: 35%;
    padding-left: 35%;
}

.pricing-column{
    padding: 3% 2%;
}

/* CTA section  */

#cta{
    background-color: deepskyblue;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}

#footer{
    padding: 1% 15%;
    text-align: center;
}

.social-icons{
    margin: 20px 10px;
}

@media (max-width: 1075px){
    
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}